<h1><%= @article.title %></h1>
<button type="button" class="btn btn-outline-danger btn-sm"><%= link_to 'Delete', article_path(@article), method: :delete, data: { confirm: "You sure homie?"} %></button>
<button type="button" class="btn btn-outline-primary btn-sm"><%= link_to 'Update', edit_article_path(@article)%></button>
<p><%=@article.content%></p>
<%= link_to 'Back to all', articles_path('index') %>
